#logo {
		display:block;
		margin-left:auto;
		margin-right:auto;
		position: sticky;
		height: 120px;
		top: 0px;
		
}
body {
		background-color: #333333;
	
}


.carousel {
  width:640px;
  height:360px;
  left: 40px;
}
.parallax {
  /* The image used */
  background-image: url("bg.png");

  /* Set a specific height */
  height: 120px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.navbar-brand,
.navbar-nav a {
  font-family: Verdana, Geneva, sans-serif;
}